@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Hospital>
@using Umbraco.Web;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
  Layout = "Master.cshtml";
  string bannerImageUrl = "/media/1032/bath.jpg";
  if (Model.Content.HasValue("Image") == true){
    bannerImageUrl = Model.Content.GetPropertyValue<IPublishedContent>("image").Url;
  }
  var blogposts = Umbraco.TypedContent(1113).Children.OrderByDescending(x => x.CreateDate).Take(5);
  List<int> urls = new List<int>();
  List<int> titles = new List<int>();
  if (blogposts[0]){
    foreach (ContentModels.Blogpost post in blogposts){
      titles.Add(post.PageTitle);
    }
  } else {
    blogposts = "none";
  }
}

<div class="hero-image" style="background:url( @bannerImageUrl )">
  <div class="dark-overlay text-center">
      <h1>Circle @Model.Content.Name</h1>
      <p class="larger">@Umbraco.Field("tagline", altText:"")</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 text-center">
      <p class="larger">@Umbraco.Field("welcomeMessage", altText:"Our hospitals are designed to feel different. We know a hospital visit can be daunting, so we have created a modern hospital experience which feels more like you're stepping into a luxury hotel.")</p>
      @Umbraco.RenderMacro("renderUmbracoForm", new {FormGuid="adf160f1-39f5-44c0-b01d-9e2da32bf093", FormTheme="", ExcludeScripts="0"})
      <p class="space">If you're a GP or other healthcare professional wishing to refer your patient, please call us on <a href="tel:01761422288">01761 422288</a>.</p><br />
    </div>
  </div>
</div>

<div class="bg-melon">
  <div class="container">
    <div class="row">
      <div class="col-10 offset-1 text-center">
        <p>General information (everything you need to know before your stay)</p>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs justify-content-center" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#self-pay" role="tab" aria-controls="home" aria-selected="true">Self-funding patients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#insured" role="tab" aria-controls="profile" aria-selected="false">Insured patients</a>
    </li>
  </ul>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="self-pay" role="tabpanel" aria-labelledby="self-pay">
          <br /><p class="watermelon">Be seen by a specialist quickly for your diagnosis and treatment.</p>
          <p>You do not have to wait for your appointment at Circle Bath Hospital. You can be seen quickly by one of our experienced consultant specialists. Our competitive fixed price packages mean that you can get better faster. Because they’re comprehensive, you do not have to worry about any hidden extras. </p>
          <button>Book an appointment</button>
        </div>
        <div class="tab-pane fade" id="insured" role="tabpanel" aria-labelledby="insured">
          <p>Circle Bath treats patients with private medical insurance. If you have insurance, Circle Bath will invoice the insurance company for any procedures, tests and diagnostics carried out. There may be certain items not covered by your insurance company, such as private prescriptions, so you should always contact your insurer regarding their ‘excess payment policy' to check your level of cover. For items not covered under the insurance, the team at Circle Bath will contact you to discuss payment directly.</p>
          <button>Book an appointment</button>
        </div>
      </div>
    </div>
  </div>
</div><br />
<div class="hero-image" style="background:url( @bannerImageUrl )">
  <div class="dark-overlay text-center">
    <h2>Why visit Circle @Model.Content.Name?</h2>
    <p>@Umbraco.Field("tagline", altText:"")</p>
    <button>Take a virtual tour of Circle Bath Hospital</button>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 text-center">
      <h2>World class patient experience</h2>
      <p>Our founding beleif at Circle is that by combining clinical excellence, the best doctors, urses and medical care with a supurb patient experience, a calming environment and five-star hospitality, you will be more relaxed and so recover faster.</p>
    </div>
  </div>
</div><br /><br />
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-sm" style="background:url( @bannerImageUrl )"></div>
    <div class="col-sm img-text-box">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem vitae mi ultrices efficitur. Sed eget est et nisl sagittis suscipit at quis leo. Nunc blandit sem vel urna posuere tempus. Aliquam ut magna velit. Vivamus pretium accumsan elit, ut pellentesque lacus tempus a. Nullam erat tellus, pellentesque eget tincidunt in.</p>
        <p>Aliquam ut magna velit. Vivamus pretium accumsan elit, ut pellentesque lacus tempus a. Aliquam ut magna velit. Vivamus pretium accumsan elit, ut pellentesque lacus tempus a. Nullam erat tellus, pellentesque eget tincidunt in. Nullam erat tellus, pellentesque eget tincidunt in, ultrices vitae nibh.</p>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-sm img-text-box">
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec sem vitae mi ultrices efficitur. Sed eget est et nisl sagittis suscipit at quis leo. Nunc blandit sem vel urna posuere tempus. Aliquam ut magna velit. Vivamus pretium accumsan elit, ut pellentesque lacus tempus a. Nullam erat tellus, pellentesque eget tincidunt in.</p>
        <p>Aliquam ut magna velit. Vivamus pretium accumsan elit, ut pellentesque lacus tempus a. Aliquam ut magna velit. Vivamus pretium accumsan elit, ut pellentesque lacus tempus a. Nullam erat tellus, pellentesque eget tincidunt in. Nullam erat tellus, pellentesque eget tincidunt in, ultrices vitae nibh.</p>
      </div>
    </div>
    <div class="col-sm" style="background:url( @bannerImageUrl )"></div>
  </div>
</div>      
<div class="container">
  <div class="row no-gutters newsfeed">
    <div class="col-sm-6" style="background:url( @bannerImageUrl )">
        <a href="">
           
          <svg height="17" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg>
        </a>
    </div>
</div>